

.frame{
    display: flex;
    justify-content: space-between;
    background-color: #eceff1;
    width: 100%;
    height: 100%;
}
.advertisement{
    width: 50%;
    height: 100%;
}
div >img{
    width: 100%;
    height: 100%;
}
.number{
    width: 50%;
    height: 100%;
}
.number>table{
    width: 100%;
    height: 100%;
}

.number>table>tbody{
    text-align: center;
}

.number>table>tbody>tr>td{
    border: 1px solid black;
}
.number>table>tbody>tr>td>input{
    width: 100%;
    height: 100%;
    font-size: large;
}

