.main_wrap {
    padding:0 30px 0 102px;
    height: 100%;
}

.main_wrap  hr{
    margin: 30px 0px;
}

.main_title {
    padding-top: 30px;

}
.main_title span {
    font-size: 32px;
}

.calendar_btn_box{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-content: center;
    width: 100%;
}

.calendar_btn_box > span {
    font-size: 20px;
}

.btn {
    border: 0;
    background-color: white;
    cursor: pointer;
}
.calendar_wrap {
    width: 100%;
    height: 67%;
}
.calendar_week {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 40px 0px;
}
.calendar_week div {
    width: 13%;
}
.calendar_day {
    width: 100%;
    height: 16%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.calendar_day div{
    width: 13%;
    height: 100%;
    display: flex;
}
.calendar_day div span{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.today {
    background-color: red;
}

.calendar_wrap div:first-child {
    text-align: center;
}

.calendar_wrap div div:first-child{
    color: red;
}

.calendar_wrap div div:last-child{
    color: blue;
}

.btn_box {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.add_button {
    float: right;
    width: 134px;
    height: 50px;
    border-radius: 25px;
    background-color: #605f5f;
    border: 0;
    color: #eeeeee;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 23px;
    justify-items: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add_button > span {
    margin-left: 10px;
}

@media (max-width: 583px) {

    .add_button {
        width: 106px;
        height: 40px;
        font-size: 13px;
        padding: 12px;
    }


}