.warp {
    position: relative;
    height: 100%;
    min-width: 360px;

}

.header {
    margin-bottom: 40px;
    box-sizing: border-box;

}

.logo_box {
    position: relative;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.main_logo {
    display: inline-block;
    width: 300px;
    height: 60px;
    margin-top: 110px;
}

.singUp_box {
    position: relative;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.singUp_text_box {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
}

.input_wrap {
    position: relative;
    padding: 20px;
}

.input_wrap {
    position: relative;
    padding: 20px;
}

.hyphen {
    margin: 0px 10px;
}

.input_box {
    position: relative;
    border: 1px solid gray;
    padding: 10px 10px;
    display: table;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
}

.input_box_post {
    position: relative;
    border: 1px solid gray;
    padding: 10px 10px;
    display: table;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin-top: 5px;
}

.input_box20 {
    position: relative;
    border: 1px solid gray;
    padding: 10px 10px;
    display: table;
    width: 13%;
    height: 35px;
    box-sizing: border-box;
}

input {
    border: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    height: 20px;
}

.input_title:not(:first-child) {
    margin-top: 20px;
}

.input_text {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
}

.msg_box {
    margin-top: 5px;
}

.msg_box span {
    color: red;
    font-size: 14px;
}

.post_btn {
    background-color: #70798b;
    border: 0;
    white-space: nowrap;
    color: white;
    padding: 0 10px;
    height: 35px;
    line-height: 24px;
    font-size: 11pt;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: 10px;
    cursor: pointer;
}

.post_code {
    align-items: center;
    width: 100%;
    display: flex;
}

.btn_box {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
}

.btn_box button {
    width: 134px;
    height: 50px;
    border-radius: 20px;
    background-color: #605f5f;
    border: 0;
    color: #eeeeee;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    justify-items: center;
    cursor: pointer;
    margin: 0px 10px;
}


@media (max-width: 632px) {
    .singUp_box {
        width: 100%;

    }

    .main_logo {
        width: 236px;
        height: 52px;
    }

}

@media (max-width: 583px) {

    .input_box20 {
        width: 66px;
    }

    .btn_box button {
        width: 115px;
    }

}

@media (max-width: 320px) {

    .input_box20 {
        width: 35%;
    }
}