

.header {
    height: 70px;
}
.menu_box {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    width: 180px;
    height: 40px;
    top: 10px;
    left: 10px;
}

.menu {
    display: flex;
    height: 70px;
    align-items: center;
    text-align: center;
}

.menu_ul {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
}


.menu_ul > li {
    color: white;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    position: relative;
    width: 160px;
    height: 100%;
    line-height: 70px;
    padding: 0px 20px;
    cursor: pointer;
}

.menu_ul > li:hover > ul {
    display: block;
}
.menu_ul > li:hover {
    background: gray;
}

.menu_ul> li>a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.menu_side {
    background: black;
    display: none;
    position: absolute;
    top: 70px;
    left: 0px;
}

.menu_side > li {
    font-size: 26px;
    width: 160px;
    text-align: center;
    padding: 0px 20px;
}

.menu_side > li:hover {
    background: gray;
    transition: ease 1s;
}