
.wrap {
    height: 100%;
    position: fixed;
    z-index: 5;
}

.menu_bar {
    width: 72px;
    height: 100%;
    background: #343232;
    transition: all 100ms linear;
}
.menu_bar >ul {
    padding: 20px 10px;
}

.menu_bar >ul > li:first-child {
    align-items: center;
    margin: 20px 0px 60px 0;
    position: relative;
    height: 30px;
}

.menu_bar >ul > li:not(:first-of-type) {
    position: relative;
    width: 100%;
    align-items: center;
    margin: 20px 0;
}

.item {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 30px;
    padding-left: 0px;
    cursor: pointer;
    box-sizing: border-box;
}

.item {
    height: 50px;
}

.item:hover {
    background-color: gray;
}

.logo {
    display: none;
    height: 210px;
}

.icon_box {
    display: inline-block;
    top: 0px;
    left: 90%;
}
.icon_tab{
    border: 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 25%;
}

.icon_menu{
    border: 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 25%;
}

.icon_chevron {
    display: none;
    position: absolute;
    left: 85%;
}

.menu_bar span{
    margin-left: 15px;
    font-size: 16px;
    color: white;
    font-weight: 400;
    font-style: normal;
    display: none;
}

.itemActive {
    background: gray;
}
.itemActiveFold {
    background: gray;
}
.active .itemActiveFold {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.active .itemActiveFold +.subItem{
    display: list-item;
    padding: 10px 10px;
    margin-top: -8px;
    background: gray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    list-style: none;
}

.notActive .itemActiveFold +.subItem {
    display: block;
    left: 138%;
    position: absolute;
    top: -50%;
    margin-top: 0;
    padding: 10px 20px;
    white-space: nowrap;
    background-color: gray;
    border-radius: 20px;
    width: 120px;
    text-align: center;
}
.notActive .itemActiveFold +.subItem:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: gray;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}

.notActive .itemActiveFold +.subItem span {
    margin-left: 0;
}
.notActive .itemActiveFold +.subItem li {
    width: 100%;
}

.notActive {

}

.itemActiveFold +.subItem span {
    display: inline-block;
}


.active {
    width: 250px;
}

.active > ul {
    padding: 20px;
}

.active > ul > li > .logo{
    width: 130px;
    height: 30px;
    display: inline-block;
}

.active >ul >li> .item > span {
    display: inline-block;
}

.active >ul > li:not(:first-of-type) > .item {
    padding-left: 20px;
}

.active > ul > li > .item > .icon_menu{
    left: 0;
    position: relative;
}

.active > ul > li > .icon_tab {
    left: 88%;
}

.active > ul > li > .item > .icon_chevron {
    display: inline-block;
}

.subItem {
    display: none;
}

.subItem a {
    list-style: none;
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
    padding: 10px 0;
}

.subItem a:hover {
    background-color: #605f5f;
}

.active .subItem span {
    margin-left: 0;
    display: inline-block;
}


