
.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eceff1;
    width: 100%;
    height: 100%;
}

.signup {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 100%;

}

.logo {
    width: 80%;
    height: 30%;
    background-color: black;
    padding: 30px;
}

.profile {
    width: 100%;
    height: 100%;
}
.profile >ul{
    width: 100%;
    height: 100%;
}
.profile>ul>li{
    width: 100%;
    height: 8%;
}

.inputbox {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background-color: white;
}
.inputbox>input {
    width: 100%;
    height: 50%;
    font-size: larger;
    margin-left: 10px;
}

.input_error {
    color: red;
    display: none;
}

.button_size {
    width: 70px;
    height: 50px;
    margin-left: 5px;
    border-radius: 10px;
}

.button_send {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

div > .button_size {
    width: 100%;
    margin-top: 10px;

}
