
.frame {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 40%;
    height: 100%;

}
.logobox{
    background-color: black;
    margin-top: 10%;
    width: 60%;
    height: 10%;
}
.logobox>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 70%;
    width: 90%;
}

.signup>form{
    width: 100%;
    height: 100%;
}
.profile {
    width: 100%;
    height: 100%;
 margin-top: 7%;
}
.profile>ul{
    width: 100%;
    height: 100%;
}
.profile>ul>p{
    font-size: small;
    color: red;
    margin-bottom: 1%;
}
.user_singupiteam{
    width: 100%;
    height: 8%;
}
.user_singupiteam>li{
    width: 100%;
    height: 70%;
    margin-top: 1%;
}
.inputbox{
    padding: 1%;
    background-color: white;
    width: 99%;
    height: 70%;
    border: 1px solid;
}
.inputbox>input{
    font-size: large;
    height: 100%;
    width: 100%;
}
.button_send{
    height: 4%;
    text-align: center;
}
.button_send>button{
    width: 30%;
    height: 100%;
}