<!DOCTYPE html>
<html lang="ko" xml:lang="ko">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" />
</head>

<header class="header">
    <h1 class="logo"></h1>
</header>
<div class="container">
    <div class="content">
        <div class="login_box">
            <h2 class="login_text">로그인</h2>
            <div class="padding_box">
                <div class="id_pw_box">
                    <div class="input_box focus">
                        <div class="icon_cell" id="id_cell">
                            <span class="icon_id"></span>
                        </div>
                        <input class="input_text" type="text" placeholder="아이디">
                    </div>
                    <div class="input_box">
                        <div class="icon_cell" id="pw_cell">
                            <span class="icon_pw"></span>
                        </div>
                        <input class="input_text" type="password" placeholder="비밀번호">
                    </div>
                </div>
                <div class="login_btn_box">
                    <button class="login_btn" type="submit">로그인</button>
                </div>
            </div> 
         </div>
         <ui class="find_box">
            <li>
                <a class="find_text" href="#">비밀번호 찾기</a>
            </li>
            <li>
                <a class="find_text" href="#">아이디 찾기</a>
            </li>
            <li>
                <a class="find_text" href="#">회원 가입</a>
            </li>
        </ui>
    </div>
    
</div>


</html>